{% extends "layout.html" %}

{% block content %}
    <h1>Bem-vindo, {{ nome }}!</h1>
    <p class="lead">Painel de Controlo do Laboratório</p>
    <hr>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-flask"></i> Experimentos</h5>
                    <p class="card-text">Gerencie seus projetos científicos em andamento.</p>
                    <a href="/experiments" class="btn btn-light btn-sm">Acessar</a>
                </div>
            </div>
        </div>
        
        </div>
{% endblock %}